<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>MNGR - AFC Richmond</title>
    <link rel="stylesheet" href="/mngr/css/styles.css">
    <link rel="stylesheet" href="/mngr/css/layout.css">
</head>
<body>

    <div class="app-container">
        <div id="sidebar-placeholder" class="app-sidebar"></div>
        
        <div id="navbar-placeholder" class="app-navbar"></div>

        <main class="app-conteudo">
            </main>
    </div>

    <script src="/mngr/js/bars.js"></script>
</body>
</html>