<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>MNGR - A carregar...</title>
    <link rel="stylesheet" href="/mngr/css/styles.css">
    <link rel="stylesheet" href="/mngr/css/layout.css">
    <link rel="stylesheet" href="/mngr/css/atleta.css">
    <link rel="stylesheet" href="/mngr/css/mensagens.css">
    <link rel="stylesheet" href="/mngr/css/calendario.css">
    <link rel="icon" href="../images/logo-mini.png" type="image/x-icon" />
</head>
<body>

    <div class="app-container">
        <div id="sidebar-placeholder" class="app-sidebar"></div>
        
        <div id="navbar-placeholder" class="app-navbar"></div>

        <main class="app-conteudo">
            </main>
    </div>
    <script src="/mngr/js/bars.js"></script>
    <script src="/mngr/js/calendario.js"></script> </body>
</body>
</html>